.createTeam-form {
    display: flex;
    flex-direction: column;
    background: #fff;
    width: 500px;
    margin: 50px auto;
    border-radius: 10px;
    box-shadow: 0 2px 25px rgba(0, 0, 0, 0.2);
}

.createTeam-form h1 {
    padding: 35px 35px 0 35px;
    font-weight: 300;
}

.createTeam-form .content {
    padding: 35px;
    text-align: center;
}

.createTeam-form .input-field {
    padding: 12px 5px;
}

.createTeam-form .input-field input {
    font-size: 16px;
    width: 100%;
    padding: 10px 1px;
    border: 0;
    border-bottom: 1px solid #747474;
    outline: none;
    transition: 0.5s;
}

.createTeam-form .input-field input::placeholder {
    text-transform: uppercase;
}


.createTeam-form .buttonCreate {
    width: 80%;
    border: none;
    padding: 18px;
    font-family: 'Rubik', sans-serif;
    cursor: pointer;
    text-transform: uppercase;
    background: #6d8ef0;
    color: rgb(255, 255, 255);
    transition: 0.5s;
    border-radius: 10px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 30px;
}

.createTeam-form .buttonCreate:hover {
    background: #819dee;
}

.createTeam-form .input-color {
    padding: 5px;
    text-align: left;
}

.createTeam-form .input-color .color{
    background-color: white;
    border: 0px;
    height: 40px;
    width: 60px;
    display: inline-block;
    vertical-align: middle;
}

.createTeam-form .input-color p {
    display: inline-block;
    width: 110px;
    font-family: 'Rubik', sans-serif;
    color: #747474
}

.createTeam-form .input-file {
    padding: 10px;
    text-align: left;
}

.createTeam-form .input-file p {
    padding-bottom: 10px;
    font-family: 'Rubik', sans-serif;
    color: #747474
}

.createTeam-form .input-file .imgLogo {
    padding-top: 20px;
    max-width: 200px;
    max-height: 200px;
    margin: auto;
    display: block;
}

.createTeam-form .input-file .deleteButton {
    width: 120px;
    height: 40px;
    border: none;
    font-family: 'Rubik', sans-serif;
    cursor: pointer;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    transition: 0.5s;
    border-radius: 5px;
    background-color: #bcbcbc;
    margin: auto;
    display: block;
    font-size: 12px;
    margin-top: 5px;

}

.createTeam-form .deleteButton:hover {
    background: #cccccc;
}

@media only screen and (max-width: 640px) {
    .createTeam-form {
        margin: 0px;
        box-shadow: none;
        width: 100%;
    }
}